*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
.category-main{
  padding: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.carousel-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  min-width: 200px;
  padding: 12px;
}

.carousel-container {
  position: relative;
  width: 80%;
  height: 100%;
  padding: 16px;
}

.carousel-slide-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  //min-height: 150px;
  height: 100%;
  padding: 12px 0;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin: 0;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  &.prev-btn {
    left: -5rem;
  }
  &.next-btn {
    right: -5rem;
  }
}

.carousel-btn__arrow {
  border: solid #161616;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 8px;
  height: 2px;
  width: 2px;
  &.left {
    transform: rotate(135deg);
  }
  &.right {
    transform: rotate(-45deg);
  }
}
.link {
  color: #3f51b5;
  cursor: pointer;
  text-decoration: underline;
  font-size: 12pt;
}

.expand_icon {
  display: flex;
  align-self: center;
}
.category_link {
  display: flex;
  align-self: center;
  flex-grow: 1;
}
.expansion_panel {
  display: flex;
  width: 100%;
}
.spinner-div {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}